.GeneralRenderContentComponent {
    padding-top: 10px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    .first-fieldset {
        padding: 10px !important;
        display: flex;
        flex-direction: column;

        label:not(.CheckboxLabel) {
            display: flex;
            padding: 10px;

            span {
                width: 100px;
            }

            .validation-group-messages {
                .error-message {
                    width: 100%;
                }
            }
        }

        .CheckboxLabel {
            padding: 5px 5px 5px 10px;
            span {
                padding-left: 10px;
            }
        }
    }

    .second-fieldset {
        padding: 20px !important;

        div {
            display: flex;
            padding-bottom: 5px;

            label {
                width: 50%;
            }

            label {
                display: flex;

                span {
                    width: 100px;
                }

                .validation-group-messages {
                    .error-message {
                        top: 20px;
                    }
                }
            }
        }

        .CheckboxLabel {
            span {
                padding-left: 10px;
            }
        }
    }
}

@media (max-width: 1400px) {
    .GeneralRenderContentComponent {
        .first-fieldset {
            label:not(.CheckboxLabel) {
                span {
                    min-width: 71px;
                }

                .input-field {
                    width: 70%;
                    min-width: 70px;
                }
            }
        }

        .second-fieldset {
            div {
                label {
                    .input-field {
                        width: 70%;
                        min-width: 70px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .GeneralRenderContentComponent {
        .second-fieldset {
            div {
                flex-direction: column;

                label {
                    width: 100%;
                }
            }
        }

        .invalid-input {
            .validation-group-messages {
                font-size: 10px;
            }
        }
    }
}
