.Popup__OPCTabPanel {
    #OPCTabpanel {
        position: relative;
        width: 100%;
        max-height: 95%;
    }

    .outer-field {
        margin: 6px 12px !important;
    }

    .Checkbox {
        bottom: -1px;
        position: relative;
    }

    input {
        outline: none;
    }
}

@media (max-width: 850px) {
    .Popup__OPCTabPanel {
        .outer-field {
            margin: 3px 6px !important;
            padding: 8px !important;
        }
    }
}
