.EventSetting {
    padding-top: 10px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;

    .EventSetting-first-fieldset {
        padding: 20px !important;
        display: flex;
        justify-content: space-around;

        .Hysterisis-label {
            display: flex;
            span {
                padding-right: 5px;
            }
        }

        .CheckboxLabel {
            span {
                padding-left: 5px;
            }
        }
    }

    fieldset:not(.EventSetting-first-fieldset) {
        padding: 10px !important;
        display: grid;
        grid-template-areas:
            "overHighSpan ohvInput MessageSpan ohmInput OutputSpan ohdSelect ohcColorPicker"
            "highSpan hivInput MessageSpan himInput OutputSpan hidSelect hicColorPicker"
            "normalSpan normalSpan MessageSpan nmmInput OutputSpan lodSelect nmcColorPicker"
            "lowSpan lovInput MessageSpan lomInput OutputSpan uldSelect locColorPicker"
            "underLowSpan ulvInput MessageSpan ulmInput OutputSpan emptySelect ulcColorPicker";
        gap: 10px;

        .normalSpan {
            grid-area: normalSpan;
        }

        .MessageSpan {
            min-width: 55px;
        }

        .OutputSpan {
            min-width: 45px;
        }

        .overHighSpan,
        .highSpan,
        .normalSpan,
        .lowSpan,
        .underLowSpan {
            min-width: 110px;
        }

        .input-field {
            width: 150px;
        }

        .color-picker {
            display: flex;
            justify-content: center;

            .twitter-picker {
                top: 33px;
                div:nth-child(2) {
                    left: 212px !important;
                }
            }

            .picker-plot {
                position: absolute;
                z-index: 200000;
                // left: -178px;
            }
        }

        .last-colour-picker {
            .twitter-picker {
                div:nth-child(2),
                div:first-child {
                    border-width: 0px 0px 10px !important;
                }
            }

            .picker-plot {
                position: absolute;
                // z-index: 100;
                top: -100px;
                left: -178px;
            }
        }

        select {
            height: 22px;
        }

        .invalid-input {
            .validation-group-messages {
                font-size: 10px;
                .error-message {
                    width: 100px;
                }
            }
        }
    }
}

@media (max-width: 1800px) {
    .EventSetting {
        fieldset:not(.EventSetting-first-fieldset) {
            .custom-input {
                width: 30%;
                .input__details {
                    width: inherit;
                    .input-field {
                        width: inherit;
                        min-width: 120px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1700px) {
    .EventSetting {
        fieldset:not(.EventSetting-first-fieldset) {
            .custom-input {
                width: 30%;
                .input__details {
                    width: inherit;
                    .input-field {
                        width: inherit;
                        min-width: 70px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1500px) {
    .EventSetting {
        .EventSetting-first-fieldset {
            flex-direction: column;
            .CheckboxLabel {
                padding-bottom: 5px;
            }

            label:not(.CheckboxLabel) {
                span {
                    min-width: 71px;
                }

                .input-field {
                    width: 70%;
                    min-width: 70px;
                }
            }
        }
    }
}

@media (max-height: 800px) {
    .EventSetting {
        fieldset:not(.EventSetting-first-fieldset) {
            .color-picker {
                display: flex;
                justify-content: center;

                .twitter-picker {
                    top: 33px;
                    div:nth-child(2) {
                        left: 212px !important;
                    }
                }

                .picker-plot {
                    position: absolute;
                    // z-index: 100;
                    left: -178px;
                }
            }
        }
    }
}
