.Popup__tabpanel {
    .outer-field {
        margin: 6px 12px !important;
        padding: 15px !important;
    }

    .Checkbox {
        bottom: -1px;
        position: relative;
    }

    input {
        outline: none;
    }
}

@media (max-width: 850px) {
    .Popup__tabpanel {
        .outer-field {
            margin: 3px 6px !important;
            padding: 8px !important;
        }
    }
}
