.Popup__DigitalTabPanel {
    .outer-field {
        margin: 6px 12px !important;
        padding: 15px;
    }

    .Checkbox {
        bottom: -1px;
        position: relative;
    }

    input {
        outline: none;
    }
}
