.SensorSetting {
    width: 100%;
    height: 100%;
    min-height: 75%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y: auto;
    padding-top: 10px;

    .SensorSetting__first-fieldset {
        padding-left: 20px;
        width: 45%;
        display: grid;

        grid-template-areas:
            "emptyLable rawLable scaledLable"
            "lowLable spnInput ssnInput"
            "highLable spxInput ssxInput";
        gap: 15px;

        .Checkbox,
        .Select {
            margin-right: 5px;
        }

        .emptyLable {
            grid-area: emptyLable;
        }

        .lowLable {
            grid-area: lowLable;
        }

        .highLable {
            grid-area: highLable;
        }

        .rawLable {
            grid-area: rawLable;
        }

        .spnInput {
            grid-area: spnInput;
            input {
                width: 100px;
            }
        }

        .spxInput {
            grid-area: spxInput;
            input {
                width: 100px;
            }
        }

        .scaledLable {
            grid-area: scaledLable;
        }

        .ssnInput {
            grid-area: ssnInput;
            input {
                width: 100px;
            }
        }

        .ssxInput {
            grid-area: ssxInput;
            input {
                width: 100px;
            }
        }

        .Input,
        label {
            font-size: 12px;
        }
    }

    fieldset:not(.SensorSetting__first-fieldset) {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 45%;

        label:not(.CheckboxLabel) {
            display: grid;
            grid-template-columns: 50% 50%;
            padding: 10px;
        }

        .CheckboxLabel {
            display: grid;
            grid-template-columns: 50% 15px;
            padding: 10px;
        }
    }

    .invalid-input {
        .validation-group-messages {
            font-size: 10px;
            .error-message {
                width: 100px;
            }
        }
    }
}

@media (max-width: 1700px) {
    .SensorSetting {
        display: block;
        overflow-x: hidden;

        fieldset {
            width: 95% !important;
            min-height: 120px;

            label {
                .Select {
                    max-width: 100px;
                }
            }
        }

        fieldset:not(.SensorSetting__first-fieldset) {
            label {
                display: grid;
                grid-template-columns: 30% 50%;
            }
        }
    }
}

@media (max-width: 900px) {
    .SensorSetting {
        fieldset {
            label {
                .custom-input {
                    width: 30%;
                    .input__details {
                        width: inherit;
                        .input-field {
                            width: inherit;
                            min-width: 70px;
                        }
                    }
                }

                .Select {
                    max-width: 70px;
                }
            }
        }
    }
}
